@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
}

@font-face {
  font-family: "Forma DJR Text";
  src: url("/fonts/FormaDJRText-Regular-Testing.woff2") format("woff2"),
    url("/fonts/FormaDJRText-Regular-Testing.woff") format("woff");
  font-style: normal;
  font-weight: 400; /* use numeric value instead of 'normal' */
  font-display: swap; /* optional: better performance, prevents invisible text */
}

@layer utilities {
  .landingContainer {
    @apply mx-auto max-w-[1152px] px-5 md:px-8;
  }
  .authContainer {
    @apply flex flex-col h-screen w-screen justify-center content-center items-center;
  }
  .formHolder {
    @apply border rounded-md p-4 m-2 flex flex-col md:w-[450px] w-[340px];
  }
  .form {
    @apply flex flex-col gap-3 p-2 items-center w-full my-4;
  }
  .btnSubmit {
    @apply border p-2 rounded-lg bg-black text-white ml-auto;
  }
  .btnGoback {
    @apply border p-2 rounded-lg;
  }

  .btnCta {
    @apply;
  }
  .container-wrapper {
    @apply md:mx-12 lg:mx-20 xl:mx-48  p-16 sm:py-20 border border-dashed border-y-0;
  }
  .gradient-text {
    @apply text-neutral-900 dark:text-neutral-100  md:-tracking-[0.075rem]  -tracking-[0.05rem] bg-clip-text !text-transparent bg-gradient-to-r from-[#18181B] to-[#808080] dark:from-[#F4F4F5] dark:to-[#B9B9B9];
  }
  .content-container {
    @apply md:mx-10 xl:mx-10 mx-0 border border-dashed border-y-0 flex flex-col p-4 gap-5  border-t-0;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --back: 0 0% 100%;
    --foreground: 0 0% 5%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 263.4 70% 50.4%;
    --accent-hover: 263.2 84.9% 36.5%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 98%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --chart-neutral: 0 0% 5%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 94%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --slider-padding: 5rem;
  }

  .dark {
    --background: 0 0% 5%;
    --foreground: 0 0% 98%;
    --card: 0 0% 5%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 263.4 70% 50.4%;
    --accent-foreground: 0 0% 98%;
    --accent-hover: 263.2 84.9% 36.5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 98%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --chart-neutral: 0 0% 100%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.embla__container {
  scroll-behavior: smooth;
}
.embla__slide {
  flex: 0 0 100%; /* Default slide covers 100% of the viewport */
}
